version: '3.8'

services:
  keycloak_db:
    image: postgres:14
    environment:
      POSTGRES_DB: keycloak_db
      POSTGRES_USER: keycloak_user
      POSTGRES_PASSWORD: keycloak_password
    volumes:
      - ./postgres-keycloak-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - bionicpro-network

  keycloak:
    image: quay.io/keycloak/keycloak:21.1
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak_db:5432/keycloak_db
      KC_DB_USERNAME: keycloak_user
      KC_DB_PASSWORD: keycloak_password
      KC_HOSTNAME: localhost
    command: 
      - start-dev
      - --import-realm
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
    ports:
      - "8080:8080"
    depends_on:
      - keycloak_db
    networks:
      - bionicpro-network

  auth:
    build:
      context: ./bionicpro-auth
      dockerfile: Dockerfile
    ports:
      - "8000:8000"  # Маппинг порта 8000 контейнера на 8000 хоста
    environment:
      - ASPNETCORE_URLS=http://+:8000  # Важно! Слушаем на всех интерфейсах порт 8000
      - Keycloak__AuthServerUrl=http://keycloak:8080
      - Keycloak__Realm=reports-realm
      - Keycloak__ClientId=reports-frontend
      - Keycloak__ClientSecret=your-client-secret
    depends_on:
      - keycloak
    networks:
      - bionicpro-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://localhost:8000  # Для браузера это localhost
    depends_on:
      - auth
    networks:
      - bionicpro-network

networks:
  bionicpro-network:
    driver: bridge